In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt

In [2]:
df1_3 = pd.read_csv('channel 1.csv')
# rename columns
df1_3 = df1_3.rename(columns={'created_at':'time',
                      'field1':'T1*',
                      'field2':'T1',
                      'field3':'RH1',
                      'field4':'VPD1',
                      'field5':'T3*',
                      'field6':'T3',
                      'field7':'RH3',
                      'field8':'VPD3',
                     })
# set timestamp as index
df1_3['time']= df1_3['time'].str.slice( 0,-6)
df1_3['time'] = pd.to_datetime(df1_3['time'])
df1_3 = df1_3.set_index('time')
df1_3=df1_3[['T1*','T1','RH1','VPD1','T3*','T3','RH3','VPD3']]
df1_3

,T1*,T1,RH1,VPD1,T3*,T3,RH3,VPD3
time,,,,,,,,
2022-06-22 17:54:20,27.3750,NaN,NaN,27.90,70.63,1.10200,NaN,NaN
2022-06-22 17:54:22,27.4375,NaN,NaN,27.86,70.64,1.10422,NaN,NaN
2022-06-22 17:54:24,27.4375,NaN,NaN,27.87,70.62,1.10097,NaN,NaN
2022-06-22 17:54:26,27.4375,NaN,NaN,27.90,70.56,1.10433,NaN,NaN
2022-06-22 17:54:28,27.3750,NaN,NaN,27.89,70.62,1.10357,NaN,NaN
...,...,...,...,...,...,...,...,...
2022-06-29 16:28:30,29.6250,NaN,NaN,30.81,52.40,2.11341,NaN,NaN
2022-06-29 16:28:32,29.6250,NaN,NaN,30.81,52.23,2.11920,NaN,NaN
2022-06-29 16:28:33,NaN,29.6250,33.22,NaN,NaN,NaN,46.97,2.70145
2022-06-29 16:28:35,NaN,29.6875,33.10,NaN,NaN,NaN,47.02,2.68042
2022-06-29 16:28:37,NaN,29.6875,33.05,NaN,NaN,NaN,48.41,2.59467

In [3]:
df2_4=pd.read_csv('channel 2.csv')
df2_4=df2_4[['created_at',
             'field1',
             'field2',
             'field3',
             'field4',
             'field5',
             'field6',
             'field7',
             'field8']]
df2_4=df2_4.rename(columns={'created_at':'time',
                      'field1':'T2*',
                      'field2':'T2',
                      'field3':'RH2',
                      'field4':'VPD2',
                      'field5':'T4*',
                      'field6':'T4',
                      'field7':'RH4',
                      'field8':'VPD4',
                     })
df2_4['time']= df2_4['time'].str.slice( 0,-6)

df2_4['time'] = pd.to_datetime(df2_4['time'])
df2_4=df2_4.set_index('time')

In [4]:
df5_6=pd.read_csv('channel 3.csv')
df5_6=df5_6[['created_at',
             'field1',
             'field2',
             'field3',
             'field4',
             'field5',
             'field6',
             'field7',
             'field8']]
df5_6=df5_6.rename(columns={'created_at':'time',
                      'field1':'T5*',
                      'field2':'T5',
                      'field3':'RH5',
                      'field4':'VPD5',
                      'field5':'T6*',
                      'field6':'T6',
                      'field7':'RH6',
                      'field8':'VPD6',
                     })
df5_6['time']= df5_6['time'].str.slice( 0,-6)

df5_6['time'] = pd.to_datetime(df5_6['time'])
df5_6=df5_6.set_index('time')

In [5]:
df7=pd.read_csv('channel 4.csv')
df7=df7[['created_at',
             'field1',
             'field2',
             'field3',
             'field4'
                    ]]
df7=df7.rename(columns={'created_at':'time',
                      'field1':'T7*',
                      'field2':'T7',
                      'field3':'RH7',
                      'field4':'VPD7',
                      })
df7['time']= df7['time'].str.slice( 0,-6)

df7['time'] = pd.to_datetime(df7['time'])
df7=df7.set_index('time')

In [6]:
df=df1_3.join(df2_4).join(df5_6).join(df7)
df1=df.resample('30s').mean()
df1=df1.dropna()
df1.to_csv('all data.csv')
df1

,T1*,T1,RH1,VPD1,T3*,T3,RH3,VPD3,T2*,T2,...,RH5,VPD5,T6*,T6,RH6,VPD6,T7*,T7,RH7,VPD7
time,,,,,,,,,,,,,,,,,,,,,
2022-06-22 18:54:30,26.125000,25.631944,27.323333,26.746667,75.278333,0.868845,74.286667,0.934113,26.000000,26.165000,...,88.761667,0.326535,24.718750,24.905000,81.730000,0.575030,26.906250,29.810000,65.508333,1.448787
2022-06-22 18:55:00,26.125000,25.625000,27.308000,26.714286,75.447143,0.860590,74.110000,0.940408,26.000000,26.160000,...,88.660000,0.329180,24.677083,24.881667,81.941667,0.567780,26.800000,29.798000,66.118000,1.421954
2022-06-22 18:55:30,26.104167,25.625000,27.280000,26.727778,75.508889,0.860297,74.515000,0.923467,26.000000,26.157500,...,88.620000,0.331230,24.760417,24.845000,82.020000,0.564583,26.715278,29.678889,66.206667,1.408071
2022-06-22 18:56:30,26.072917,25.625000,27.250000,26.705000,75.741667,0.850015,74.818333,0.911760,25.937500,26.130000,...,88.820000,0.324890,24.781250,24.830000,82.370000,0.552200,26.625000,29.520000,66.760000,1.370370
2022-06-22 18:57:00,26.062500,25.630682,27.198182,26.710000,75.765000,0.850255,75.077273,0.899778,25.875000,26.110000,...,88.980000,0.319587,24.750000,24.810000,82.636000,0.544054,26.625000,29.517273,66.728182,1.373647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-29 11:16:30,50.937500,37.568750,38.177000,41.997778,31.774444,5.595769,39.554000,4.043822,50.241071,42.985714,...,31.605000,5.562650,29.770833,37.715000,40.333333,3.892965,29.222222,39.703333,40.074444,4.350707
2022-06-29 11:17:00,51.212500,37.578125,38.240000,42.007000,31.183000,5.647228,39.710000,4.050883,50.062500,42.920000,...,32.235000,5.487155,29.887500,38.040000,40.200000,3.972048,29.107143,40.185714,39.442857,4.513843
2022-06-29 11:17:30,51.018750,37.500000,38.360000,41.975000,31.181000,5.634608,37.960000,4.187095,49.729167,43.106667,...,31.920000,5.520770,29.950000,38.106000,39.558000,4.029692,29.223214,40.585714,39.320000,4.618177
2022-06-29 11:18:00,50.875000,37.625000,38.180000,41.662000,31.574000,5.515520,38.052857,4.147390,49.875000,43.090000,...,31.850000,5.564830,29.987500,38.100000,38.664000,4.085756,29.446429,41.287143,39.562857,4.773221
2022-06-29 11:18:30,50.421875,37.687500,38.576667,41.792500,31.538750,5.556773,38.320000,4.213923,49.437500,42.870000,...,31.580000,5.547530,29.937500,38.260000,39.140000,4.090310,29.637500,40.424000,39.092000,4.595170